header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

body {
    font-family: PT Sans;
    font-size: 20pt;
    margin: 0;
}

footer{
    font-family: PT Sans;
    padding: 15px;

}

.box_1{
    max-width: 90%;
    margin: 0 auto;
    transition: 300ms;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box_1:hover{
    padding-top: 40px;
    transition-duration: 500ms;
}

.nav{
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.nav_link{
    color: white;
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
}

.nav_link:hover{
    color: rgb(101, 200, 78);
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.nav_link:active{
    font-size: 18px;
    color: rgb(78, 158, 61);
}

.nav_link_open{
    color: rgb(101, 200, 78);
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    transition-property: 0.5s;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.nav_link_open:hover{
    
    transition-duration: 0.3s;
}

.nav_link_open:active{
    font-size: 18px;
    color: rgb(78, 158, 61);
    transition-duration: 0.3s;
}

.back{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 25px;
    padding: 20px 30px;
}

.bt_back{
    color: white;
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
    border: 4px solid rgb(101, 200, 78);
    color: rgb(101, 200, 78);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 30px;
}

.bt_back:hover{
    color: grey;
    transition-duration: 0.3s;
    border: 5px solid grey;
    color: grey;
    font-size: 40px;
}

.bt_back:active{
    transition-duration: 0.3s;
    border: 4px solid rgb(60, 60, 60);
    color: rgb(60, 60, 60);
    font-size: 35px;
}
